<% provide :head_tags do %>
    <meta name='turbolinks-visit-control' content='reload'>
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        initHazardMap2(<%= @user_coords[0] %>,<%= @user_coords[1] %>)
      });
    </script>
<% end %>

<div class="container">
    <div class="row row-cols-4">
      <div class="col">
        <%= form_with url: hazards_path, method: :post, local: true do |form| %>
        <h3>New Hazard</h3>
        <div class="form-group">
          <%= form.label :title %>
          <%= form.text_field :title %>
        </div>
        <br>

        <div class="form-group">
          <%= form.label :description %>
          <%= form.text_area :description %>
        </div>
        <br>

        <div class="form-group">
          <%= form.label :latitude %>
          <%= form.text_field :latitude %>
        </div>
        <br>

        <div class="form-group">
          <%= form.label :longitude %>
          <%= form.text_field :longitude %>
        </div>
        <br>
        <div class="form-group">
          <%= form.label :category %>
          <%= form.select :category, [["Animate", "animate"], ["Inanimate", "inanimate"]] %>
        </div>
        <br>

        <div class="actions">
          <%= form.submit %>
        </div>

      </div>
      <div class="col">

      </div>
      <div class="col">
        <div id="mapHazard2"></div>

      </div>
      <div class="col">



      </div>
    </div>
  <% end %>
</div>
