<% provide :head_tags do %>
  <meta name='turbolinks-visit-control' content='reload'>
  <script>
    document.addEventListener("DOMContentLoaded", function(){
      var map = initHazardIndexMap(<%= @hazards_coords %>)
    });
  </script>
<% end %>

<p id="notice"><%= notice %></p>


<div class="container">
  <div class="row row-cols-4">
    <div class="col">
    <h1>Hazards</h1>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Latitude</th>
          <th>Longitude</th>
        </tr>
      </thead>

      <tbody>
        <% @hazards.each do |hazard| %>
        <tr>
          <td><%=link_to "#{hazard.title}", hazard_path(hazard.id) %></td>
          <td><%= hazard.latitude %></td>
          <td><%= hazard.longitude %></td>
        </tr>

        <% end %>
      </tbody>
    </table>
    </div>
    <div class="col"></div>
    <div class="col">
      <%= button_to 'Report a Hazard', new_hazard_path, method: :get %><br>
      <div id="mapHazard"></div>
    </div>
    <div class="col">
    </div>
  </div>
</div>



<br>
