<%= render 'navbar' %>


<div class="container">
  <div class="row row-cols-4">
    <div class="col">
      <section id="hazard-info">
      <h3>Hazard Details</h3>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Title: <%= @hazard.title %></li>
          <li class="list-group-item">Description: <%= @hazard.description %></li>
          <li class="list-group-item">Upvotes: <%= @hazard.upvotes %></li>
          <li class="list-group-item">Downvotes: <%= @hazard.downvotes %></li>
        </ul>
        <% if current_user.email == @hazard.email %>

        <%= button_to 'Delete Hazard', hazard_path(@hazard.id), method: :delete, local: true %>
        <% end %>

      </section>
    </div>
    <div class="col">
      <section id="vote">

      <br>
      <br>

      <%= button_to 'Upvote', vote_path, params: { upvote: true, votes: @hazard.upvotes }, method: :put, local: true %>
      <%= button_to 'Downvote', vote_path, params: { downvote: true, votes: @hazard.downvotes }, method: :put, local: true %>
    </section>

    </div>
    <div class="col">
      <div id="map">
      <%= image_tag "https://maps.googleapis.com/maps/api/staticmap?zoom=17&size=400x300&markers=size:small%7Ccolor:red%7C#{@hazard.latitude},#{@hazard.longitude}&key=#{ENV['google_maps_api_key']}", alt: "Map", size: '600x400' %>
      </div>
    </div>
    <div class="col">
    </div>
  </div>
</div>
<br>

<%= link_to 'Back to Dashboard', dashboard_path %>
