
<section id="hazard-info">
  <p>Title: <%= @hazard.title %></p>
  <p>Description: <%= @hazard.description %></p>
  <p>Upvotes: <%= @hazard.upvotes %></p>
  <p>Downvotes: <%= @hazard.downvotes %></p>
  <!-- needs logic to hid if user != hazard owner -->
  <% if current_user.email == @hazard.email %>
    <p><%= button_to 'Delete Hazard', hazard_path, method: :delete, local: true %></p>
  <% end %>
</section>


<section id="vote">
  <%= button_to 'Upvote', vote_path, params: { upvote: true, votes: @hazard.upvotes }, method: :put, local: true %>
  <%= button_to 'Downvote', vote_path, params: { downvote: true, votes: @hazard.downvotes }, method: :put, local: true %>
</section>

<%= image_tag "https://maps.googleapis.com/maps/api/staticmap?zoom=17&size=400x300&markers=size:small%7Ccolor:red%7C#{@hazard.latitude},#{@hazard.longitude}&key=#{ENV['google_maps_api_key']}", alt: "Map" %>
