<% provide :head_tags do %>
  <meta name='turbolinks-visit-control' content='reload'>
  <script>
    document.addEventListener("DOMContentLoaded", function(){
      var map = initHazardIndexMap(<%= @hazards_coords %>)
    });
  </script>
<% end %>

<%= render 'navbar' %>


<p id="notice"><%= notice %></p>



<div class="container">
  <figure class="text-center">

    <p>Welcome to Street Smart! This app allows you to report hazards you see in your neighborhood as well as view and vote on hazards that others have reported. To report a hazard, please log in! </p>
  </figure>

</div>

<div class="container">
  <div class="row row-cols-4">
    <div class="col">
    <h3>Closest Hazards</h3>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Latitude</th>
          <th>Longitude</th>
        </tr>
      </thead>

      <tbody>
        <% @hazards.each do |hazard| %>
        <tr>
          <td><%= hazard.title %></td>
          <td><%= hazard.latitude %></td>
          <td><%= hazard.longitude %></td>
        </tr>

        <% end %>
      </tbody>
    </table>

    </div>
    <div class="col"></div>
    <div class="col">
      <div id="mapHazard"></div>
    </div>
    <div class="col">
    </div>
  </div>
</div>
